/* Common styles  */
h1 {
  font-size: 3.5rem;
  letter-spacing: 1px;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 1px;
}

a {
  font-size: 2rem;
  color: var(--off-white);
  text-decoration: none;
  background-image: linear-gradient(var(--off-white), var(--off-white));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1.5px;
  transition: background-size 0.3s;
}

a:hover,
a:focus {
  background-size: 100% 1.5px;
  outline: none;
}

.resume p,
.cdl-certification p {
  font-size: 1.2rem;
}

/* Wrapper styles for all pages */
.main-content-wrapper,
.portfolio-content {
  width: 85%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Media queries */
@media only screen and (max-width: 900px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
}
