:root {
  --off-white: #f3f3e0;
  --blue: #133e87;
  --slate-blue: #608bc1;
  --light-blue: #cbdceb;
}

/* Body styles for all pages except landing page */

.portfolio-content-wrapper,
.career-experience-wrapper,
.hobbies-wrapper,
.projects-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Pages that should have the gradient */
body:has(
  :is(
    .portfolio-content-wrapper,
    .career-experience-wrapper,
    .hobbies-wrapper,
    .projects-wrapper
  )
) {
  color: var(--off-white);
}

/* Gradient background only on those pages */
body:has(
    :is(
      .portfolio-content-wrapper,
      .career-experience-wrapper,
      .hobbies-wrapper,
      .projects-wrapper
    )
  )::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: linear-gradient(to bottom, var(--blue), var(--slate-blue));
  background-repeat: no-repeat;
  background-size: cover;
}

/* Common styles */
h1 {
  font-size: 3.2rem;
  letter-spacing: 1px;
  margin: 0;
}

h2 {
  font-size: 2rem;
  letter-spacing: 1px;
}

h3 {
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  font-weight: 400;
}

p {
  font-size: 1.8rem;
  letter-spacing: 0.04rem;
}

a {
  font-size: 2rem;
  color: var(--off-white);
  text-decoration: none;
  background-image: linear-gradient(var(--off-white), var(--off-white));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1.5px;
  transition: background-size 0.3s;
}

a:hover,
a:focus {
  background-size: 100% 1.5px;
  outline: none;
}

/* Wrapper styles for all pages */
.main-content-wrapper,
.portfolio-content,
.career-experience-content,
.hobbies-content,
.projects-content {
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

/* Main content wrappers */
.portfolio-content-wrapper,
.career-experience-wrapper,
.hobbies-wrapper,
.projects-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

li {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  letter-spacing: 0.02rem;
}

.list-links {
  color: var(--blue);
  font-size: 1.5rem;
  font-weight: 500;
  background-image: linear-gradient(var(--blue), var(--blue));
  letter-spacing: 0.02rem;
}

.list-links .fa-solid {
  font-size: 0.8rem;
  vertical-align: top;
  margin-left: 0.3rem;
}

.card-paragraphs {
  font-size: 1.5rem;
}

.non-card-links {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--off-white);
}

.fa-up-right-from-square {
  font-size: 0.8rem;
  vertical-align: top;
  margin-left: 0.3rem;
}

/* Media queries */
@media only screen and (max-width: 900px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  p {
    font-size: 1.5rem;
  }

  li {
    font-size: 1.3rem;
  }

  .list-links {
    font-size: 1.3rem;
  }

  .card-paragraphs {
    font-size: 1.3rem;
  }

  .non-card-links {
    font-size: 1.3rem;
  }

  .fa-up-right-from-square {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.2rem;
    letter-spacing: 0.02rem;
    line-height: 25px;
  }

  li {
    font-size: 1.2rem;
  }

  .list-links {
    font-size: 1.2rem;
  }

  .card-paragraphs {
    font-size: 1.2rem;
  }

  .non-card-links {
    font-size: 1.2rem;
  }

  .list-links .fa-solid {
    font-size: 0.6rem;
  }

  .fa-up-right-from-square {
    font-size: 0.5rem;
    margin-top: 0.3rem;
  }

  .resume p,
  .cdl-certification p {
    font-size: 1rem;
  }
}
