/* Body styles for all pages except landing page */
body:has(.portfolio-content-wrapper),
body:has(.career-experience-wrapper),
body:has(.hobbies-wrapper) {
  background-image: linear-gradient(to bottom, var(--blue), var(--slate-blue));
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--off-white);
}

/* Common styles  */
h1 {
  font-size: 3.2rem;
  letter-spacing: 1px;
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 1px;
}

h3 {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  font-weight: 400;
}

p {
  font-size: 1.8rem;
  letter-spacing: 0.04rem;
}

a {
  font-size: 2rem;
  color: var(--off-white);
  text-decoration: none;
  background-image: linear-gradient(var(--off-white), var(--off-white));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1.5px;
  transition: background-size 0.3s;
}

a:hover,
a:focus {
  background-size: 100% 1.5px;
  outline: none;
}

.resume p,
.cdl-certification p {
  font-size: 1.2rem;
}

/* Wrapper styles for all pages */
.main-content-wrapper,
.portfolio-content,
.career-experience-content,
.hobbies-content {
  width: 85%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: hidden;
  max-width: 80%;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.drop-down-nav {
  background-color: var(--off-white);
  position: absolute;
  top: 70px;
  right: -300px;
  padding: 1rem;
  white-space: nowrap;
  transition: right 1s ease;
  z-index: 1;
}

.nav-visible {
  right: 0px;
}

.bar {
  transition: transform 0.5s ease;
}

.animate-down {
  transform: rotate(45deg) translate(0.9rem, 0.6em);
}

.fade {
  transform: scale(0);
}

.animate-up {
  transform: rotate(-45deg) translate(0.7em, -0.5em);
}

.drop-down-nav a {
  color: var(--blue);
  background: none;
  text-decoration: none;
  display: block;
  font-size: 1.8rem;
  transition: transform 0.4s ease;
}

.drop-down-nav a:hover,
.drop-down-nav a:focus {
  transform: scale(1.05);
}

.drop-down-nav a:nth-of-type(1),
.drop-down-nav a:nth-of-type(2) {
  margin-bottom: 0.5rem;
}

li {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  letter-spacing: 0.02rem;
}

.list-links {
  color: var(--blue);
  font-size: 1.5rem;
  font-weight: 500;
  background-image: linear-gradient(var(--blue), var(--blue));
  letter-spacing: 0.02rem;
}

.list-links .fa-solid {
  font-size: 0.8rem;
  vertical-align: top;
  margin-left: 0.3rem;
}

.non-card-links {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--off-white);
}

.fa-up-right-from-square {
  font-size: 0.8rem;
  vertical-align: top;
  margin-left: 0.3rem;
}

/* Media queries */
@media only screen and (max-width: 900px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
    letter-spacing: 1px;
  }

  h3 {
    font-size: 1.7rem;
  }

  p {
    font-size: 1.5rem;
  }

  .drop-down-nav {
    top: 60px;
  }

  .drop-down-nav a {
    font-size: 1.5rem;
  }

  li {
    font-size: 1.3rem;
  }

  .list-links {
    font-size: 1.3rem;
  }

  .non-card-links {
    font-size: 1.3rem;
  }

  .fa-up-right-from-square {
    font-size: 0.6rem;
  }

  .animate-down {
    transform: rotate(45deg) translate(0.5em, 0.6em);
  }

  .animate-up {
    transform: rotate(-45deg) translate(0.3em, -0.6em);
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  h3 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.2rem;
    letter-spacing: 0.02rem;
    line-height: 25px;
  }

  .drop-down-nav {
    top: 40px;
    z-index: 1;
  }

  .drop-down-nav a {
    font-size: 1.2rem;
  }

  .drop-down-nav a:nth-of-type(1),
  .drop-down-nav a:nth-last-of-type(2) {
    margin-bottom: 0.7rem;
  }

  li {
    font-size: 1.2rem;
  }

  .list-links {
    font-size: 1.2rem;
  }

  .non-card-links {
    font-size: 1.2rem;
  }

  .list-links .fa-solid {
    font-size: 0.6rem;
  }

  .fa-up-right-from-square {
    font-size: 0.5rem;
    margin-top: 0.3rem;
  }

  .resume p,
  .cdl-certification p {
    font-size: 1rem;
  }

  .menu-icon {
    margin-top: 0.4rem;
  }

  .animate-down {
    transform: rotate(45deg) translate(0.5em, 0.3em);
  }

  .animate-up {
    transform: rotate(-45deg) translate(0.4em, -0.2em);
  }
}
