.client-xp-viewer-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.experience-description-wrapper p {
  font-size: 1.8rem;
}

.experience-description-wrapper a {
  font-size: 1.8rem;
  font-weight: 500;
}

.experience-viewer-button-wrapper {
  display: flex;
  justify-content: center;
}

.experience-viewer-button {
  color: var(--blue);
  background-color: #fff;
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  position: relative;
  cursor: pointer;
}

.experience-viewer-button:active {
  top: 2px;
  box-shadow: none;
}

/* Media queries for experience page */
@media only screen and (max-width: 900px) {
  .experience-description-wrapper p {
    font-size: 1.5rem;
  }

  .experience-description-wrapper a {
    font-size: 1.5rem;
  }

  .experience-viewer-button {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 600px) {
  .experience-description-wrapper p {
    font-size: 1.2rem;
  }

  .experience-description-wrapper a {
    font-size: 1.2rem;
  }

  .experience-viewer-button {
    font-size: 1rem;
  }
}
