:root {
  --off-white: #f3f3e0;
  --blue: #133e87;
  --slate-blue: #608bc1;
  --light-blue: #cbdceb;
}

/* Body */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--blue);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content-heading-and-menu {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--blue);
  width: 100%;
}

.portfolio-heading-and-menu,
.experience-heading-and-menu,
.hobbies-heading-and-menu {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--off-white);
}

.portfolio-heading-and-menu h1,
.experience-heading-and-menu h1,
.hobbies-heading-and-menu h1 {
  flex-grow: 1;
}

.bar {
  background-color: var(--off-white);
  border-radius: 5px;
}

/* Drop-down menu */
.menu-icon {
  cursor: pointer;
  margin-left: auto;
}

.bar:nth-of-type(1),
.bar:nth-of-type(2) {
  margin-bottom: 0.313rem;
}

/* Main content introduction section */
.main-content-header {
  display: flex;
  align-items: center;
}

.portfolio-photo {
  border: 2px solid var(--blue);
  border-radius: 50%;
  width: 70px;
  padding: 2px;
  margin-right: 1.5rem;
}

.portfolio-content-wrapper,
.career-experience-wrapper,
.hobbies-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-content h2 {
  margin-bottom: 1rem;
}

/* The following classes through .resume-thumbnails are located in Resume.jsx */
.resume {
  margin-bottom: 1.5rem;
  margin-right: 3rem;
  width: fit-content;
  padding: 0.1rem;
  position: relative;
}

.resume-thumbnails {
  width: 200px;
  height: 257px;
}

.resume-thumbnails:nth-of-type(1) {
  margin-right: 0.5rem;
}

/* The following classes through .cdl-certification are located in FE_Portfolio.jsx */
.resume-and-certifications {
  display: flex;
  justify-content: center;
}

.cdl-badge {
  width: 257px;
}

.cdl-certification {
  text-align: center;
}

.skills {
  width: 85%;
}

.skills > h2 {
  margin-top: 0;
}

/* Career experience */
.experience-content-wrapper {
  margin-top: 1rem;
}

.accordion-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.accordion-wrapper p {
  font-size: 1.5rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.expandable .inner .fa-solid {
  margin-right: 1.2rem;
}

.section-buttons {
  border: none;
  color: var(--blue);
  font-size: 1.5rem;
  padding: 1rem;
  background-color: var(--light-blue);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.section-buttons:hover,
.active-button {
  background-color: var(--off-white);
}

.section-buttons::after {
  content: '\2304';
  float: right;
  margin-left: 1rem;
  position: absolute;
  transition: transform 0.8s ease;
}

.button-selected::after {
  transform: rotate(-180deg);
}

.expandable {
  display: grid;
  grid-template-rows: 0fr;
  border-width: 0 3px 4px 3px;
  border-right-color: var(--light-blue);
  border-left-color: var(--light-blue);
  border-bottom-color: var(--blue);
  border-style: solid;
  transition: grid-template-rows 0.8s ease-out;
}

.expandable .inner {
  overflow: hidden;
}

.is-open {
  grid-template-rows: 1fr;
}

/* Outside of work */
.hobbies-content-wrapper {
  color: var(--blue);
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  border-radius: 2rem;
}

.hobbies-content-wrapper p {
  margin-top: 0.5rem;
}

.hobbies-list-links {
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  background-image: linear-gradient(black, black);
}

.slide-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.slides {
  background: none;
  transition: none;
}

.slides img {
  cursor: pointer;
  vertical-align: bottom;
}

.slide-buttons {
  border: none;
  background-color: #fff;
  color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.button-left {
  clip-path: ellipse(93.75% 55% at 100% 50%);
  cursor: pointer;
}

.button-right {
  clip-path: ellipse(93.75% 55% at 0% 50%);
  cursor: pointer;
}

/* Media queries */
@media only screen and (min-width: 200px) {
  .mobile-only {
    display: inline-block;
  }

  .desktop-only {
    display: none;
  }

  .bar {
    width: 1.8rem;
    height: 0.1rem;
  }

  .bar:nth-of-type(1),
  .bar:nth-of-type(2) {
    margin-bottom: 0.4rem;
  }

  .section-buttons::after {
    right: 10px;
  }

  .fa-caret-right {
    margin-right: 0.3rem;
  }

  .fa-caret-left {
    margin-left: 0.3rem;
  }

  .slide-buttons {
    font-size: 2rem;
    width: 3.5rem;
  }

  .slides {
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
  }
}

@media only screen and (min-width: 600px) {
  .menu-icon {
    margin-top: 0.625rem;
  }

  .bar {
    width: 2.5rem;
    height: 0.2rem;
  }

  .bar:nth-of-type(1),
  .bar:nth-of-type(2) {
    margin-bottom: 0.5rem;
  }

  .accordion-wrapper {
    width: 80%;
  }

  .slide-buttons {
    font-size: 3rem;
    width: 4rem;
  }

  .fa-caret-right {
    margin-right: 0.4rem;
  }

  .fa-caret-left {
    margin-left: 0.4rem;
  }

  .slides {
    border-top: 6px solid #fff;
    border-bottom: 6px solid #fff;
  }
}

@media only screen and (min-width: 900px) {
  /* Landing page */
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: inline;
  }

  .bar {
    width: 3.2rem;
    height: 0.2rem;
  }

  .bar:nth-of-type(1),
  .bar:nth-of-type(2) {
    margin-bottom: 0.75rem;
  }

  .section-buttons::after {
    right: 20px;
  }

  .slide-buttons {
    font-size: 5rem;
    width: 6rem;
  }

  .fa-caret-right {
    margin-right: 1rem;
  }

  .fa-caret-left {
    margin-left: 1rem;
  }

  .slides {
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
  }
}

@media only screen and (max-width: 900px) {
  .main-content-wrapper-p {
    font-size: 1.5rem;
  }

  .portfolio-photo {
    width: 70px;
  }

  .resume-thumbnails {
    width: 120px;
    height: 154px;
  }

  .cdl-badge {
    width: 156px;
  }

  .section-buttons {
    font-size: 1.3rem;
  }

  .accordion-wrapper p {
    font-size: 1.3rem;
  }

  .slides img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .portfolio-photo {
    width: 55px;
    margin-right: 0.7rem;
  }

  .resume {
    margin-right: 0;
    margin-bottom: 0;
    text-align: center;
  }

  .resume-and-certifications {
    flex-wrap: wrap;
  }

  .section-buttons {
    font-size: 1.1rem;
  }

  .accordion-wrapper p {
    font-size: 1.1rem;
  }
}

/* Lest anyone has an oddly narrow mobile device */
@media only screen and (max-width: 300px) {
  .resume-thumbnails:nth-of-type(1) {
    margin-right: 0;
  }
}
