.project-card {
  background-color: #fff;
  border-radius: 0.8rem;
  padding: 1rem;
  margin-bottom: 2.5rem;
}

.project-card:last-of-type {
  margin-bottom: 0;
}

.project-card p {
  font-size: 1.5rem;
  margin: 0;
  color: #000;
}

.project-card p .fa-solid {
  color: var(--blue);
}

.projects-content-wrapper h2 {
  margin-bottom: 1rem;
}

.projects-content-wrapper h2:not(:first-of-type) {
  margin-top: 3rem;
}

.projects-content-wrapper .descriptions {
  margin-top: 1.2rem;
}

.projects-tech-used {
  font-weight: 600;
}

.current-learning {
  color: #333;
  background-color: #fff;
  padding: 1rem 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  border-radius: 0.8rem;
}

.current-learning h3 {
  margin-top: 0.5rem;
  font-weight: 500;
  letter-spacing: 0;
}

@media only screen and (max-width: 900px) {
  .project-card p {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 600px) {
  .project-card p {
    font-size: 1.2rem;
  }
}
